#background {
	position:absolute;
	left:0; top:0;
	width:729px;
	height:1032px;
	background:url("../Images/bd11-1.png") no-repeat;
}

#info {
	position:absolute;
	left:40px; top: 168px;
	width:650px;
	height:18px;
}

#info > div:nth-of-type(1) {
	position:absolute;
	left:5px;
	width:70px;
}

#info > div:nth-of-type(2) {
	position:absolute;
	left:65px;
	width:140px;
}
#info > div:nth-of-type(3) {
	position:absolute;
	left:195px;
	width:310px;
}

#info > div:nth-of-type(4) {
	position:absolute;
	left:500px;
	width:145px;
	letter-spacing:0;
}

.title {
	position:absolute;
	top:462px;
	left:47px;
	width:140px;
	height:12px;
}

.topic1 {
	position:absolute;
	top:510px; left:370px;
	width:310px;
	height:240px;
}

.topic2 {
	position:absolute;
	top:820px;
	left:50px;
	width:440px;
	height:190px;
}