#background {
	position:absolute;
	left:0; top:0;
	width:729px;
	height:1032px;
	background:url("../Images/bd11-4.png") no-repeat;
}

.topic1 {
	position:absolute;
	top:140px; left:40px;
	width:645px;
	height:240px;
	column-count:2;
	-moz-column-count:2; /* Firefox */
	-webkit-column-count:2; /* Safari and Chrome */
}



.topic2 {
	position:absolute;
	top:620px;
	left:55px;
	width:350px;	
}

.topic3 {
	position:absolute;
	top:960px;	left:55px;
	width: 450px;
}

.topic4 {
	position:absolute;
	top:913px; left:526px;
	width:160px;
}