#background {
	position:absolute;
	left:0; top:0;
	width:729px;
	height:1032px;
	background:url("../Images/bd12-1.png") no-repeat;
}

#info {
	position:absolute;
	left:40px; top: 166px;
	width:650px;
	height:18px;
}

#info > div:nth-of-type(1) {
	position:absolute;
	left:5px;
	width:65px;
}

#info > div:nth-of-type(2) {
	position:absolute;
	left:65px;
	width:140px;
}
#info > div:nth-of-type(3) {
	position:absolute;
	left:195px;
	width:310px;
}

#info > div:nth-of-type(4) {
	position:absolute;
	left:500px;
	width:165px;
	letter-spacing:0;
}

.title {
	position:absolute;
	top:205px;
	left:47px;
	width:140px;
	height:12px;
}

.topic1 {
	position:absolute;
	top:292px;
	left:52px;
	width:420px;
}

.topic1 > p:nth-of-type(1){
	position:absolute;
	left:0; top:0;
	margin-right:215px;
	letter-spacing:-0.07em;
}

.topic1 > p:nth-of-type(2){
	position:absolute;
	left:0; top:0;
	margin-left:215px;
	letter-spacing:-0.07em;
}
.topic1 > p:nth-of-type(3){
	position:absolute;
	left:0; top:0;
	margin-left:215px;
	padding-top:235px;
	width:205px;
	letter-spacing:-0.07em;
}

.topic2 {
	position:absolute;
	top:800px;	left:90px;
	width:500px;
}

.topic2 > p:nth-of-type(1){
	font-family:'kopub batang', serif;
	font-size:12px;
	letter-spacing:0;
}

.topic2 > p:nth-of-type(2){
	margin-top:10px;
	font-size:12px;
	letter-spacing:0;
}