#background {
	position:absolute;
	left:0; top:0;
	width:729px;
	height:1032px;
	background:url("../Images/bd12-2.png") no-repeat;
}
.title {
	position:absolute;
	top:272px;
	left:47px;
	width:140px;
	height:12px;
}

.topic1 {
	position:absolute;
	top:120px; left:60px;
	width:420px;
}

.topic2 {
	position:absolute;
	top:340px;
	left:60px;
	width:300px;
}


.topic3 {
	position:absolute;
	top:340px;
	left:370px;
	width:310px;
}

.topic4 {
	position:absolute;
	left:60px; top:600px;
	width:300px;
}