/* Nanum Gothic */
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
/* Nanum Myeongjo */
@import url(http://fonts.googleapis.com/earlyaccess/nanummyeongjo.css);
/* Nanum Pen Script */
@import url(http://fonts.googleapis.com/earlyaccess/nanumpenscript.css);


body {
	height:100%;
	font-family: 'Nanum Gothic', sans-serif;
	font-size:18px;
	padding:0;
	margin:0;
	overflow:hidden;
	padding-right:15px;
}
/* 
div {
	border: 1px dashed;
}
 */
img {
	width:100%;
}

ul {
	-webkit-padding-start: 1em;
}


#viewer_header {
	max-width:840px;
	margin-left:auto;
	margin-right:auto;
	padding:30px 60px 0 60px;
	position:static;
	width:100%;
	height:130px;
	overflow: hidden;
	border-bottom:2px solid black;
}

#viewer_header #title {
	width:200px;
	margin-left:auto;
	margin-right:auto;
}

/* 상단으로 가는 네비게이션 */

#nav_to_top {
	
	position:fixed;
	right:20px;
	bottom:15px;
	z-index: 1;
	
	text-align:center;
	font-family:'Nanum Gothic', sans-serif;
	font-weight:bold;
	font-size:0.8em;
	color:#888;

	padding:3px;
}


#nav {
	position: relative;	
	float: left;
	width: 33%;
	margin-top: 50px;
	text-align: center;
}

#nav > nav {
	width:200px;
	height:30px;
	text-align:center;
}

#nav_container {
	height: 50px;
	padding-left:10px;
	margin: auto;
	background-color:#eee;
	border-radius:15px;
	-webkit-box-shadow:1px 1px 2px #aaa;
}

#nav_container > select {
	
	width:100%;
	padding:10px;
	float:left;
	background-color: transparent;
	background: transparent;
	border: none;
	font-size: 1.4em;
	font-family: 'Nanum Myeongjo', sans-serif;

	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}




#container {
	position:absolute;
	top:160px;
	width:100%;
	overflow: hidden;
	padding:0;
	margin-top:2px;
}

#viewer_frame {
	width:100%;
	height:100%;
}

iframe:not([seamless]) {
	border:0;
}