.preview-table {
/*width:1400px; height:870px;*/
	width:1458px; height:1032px;
}

.preview-tr {
width:100%;
}

.preview-td {
border:1px solid #aaa; padding:0px;
}

object {
/*	width:700px; height:870px; */
	width:729px; height:1032px;
}

#left-page, #right-page {
	width:729px; height:1032px;
	border:0;
}
