@font-face{
font-family:kopub dotum;
font-weight:normal;
font-style:normal;
src:url("../Fonts/KoPubDotumLight.otf");
}

@font-face{
font-family:kopub dotum;
font-weight:bold;
font-style:normal;
src:url("../Fonts/KoPubDotumBold.otf");
}

@font-face{
font-family:kopub batang;
font-weight:normal;
font-style:normal;
src:url("../Fonts/KoPubBatangLight.otf");
}

@font-face{
font-family:kopub batang;
font-weight:bold;
font-style:normal;
src:url("../Fonts/KoPubBatangBold.otf");
}

@font-face{
font-family:kopub dotum w;
font-weight:normal;
font-style:normal;
src:url("../Fonts/KoPubDotumLight.woff");
}

@font-face{
font-family:kopub dotum w;
font-weight:bold;
font-style:normal;
src:url("../Fonts/KoPubDotumBold.woff");
}

@font-face{
font-family:kopub batang w;
font-weight:normal;
font-style:normal;
src:url("../Fonts/KoPubBatangLight.woff");
}

@font-face{
font-family:kopub batang w;
font-weight:bold;
font-style:normal;
src:url("../Fonts/KoPubBatangBold.woff");
}

@font-face{
font-family:kopub dotum t;
font-weight:bold;
font-style:normal;
src:url("../Fonts/KoPubDotumBold.ttf");
}

@font-face{
font-family:kopub batang t;
font-weight:normal;
font-style:normal;
src:url("../Fonts/KoPubBatangLight.ttf");
}

@font-face{
font-family:kopub batang t;
font-weight:bold;
font-style:normal;
src:url("../Fonts/KoPubBatangBold.ttf");
}



body {
	width: 768px;
	height: 1024px;
	margin:0;
	padding;0;
}

div {
	padding:0;
	margin:0;	
}

p {
	font-family: 'kopub batang', 'kopub batang w', 'kopub batang t', serif;
	font-size:13px;
	line-height:18px;
	text-align: justify;
}

ul {
	font-family: 'kopub batang', 'kopub batang w', 'kopub batang t', serif;
	font-size:13px;
	line-height:20px;
	text-align: justify;
	padding-left:28px;
	margin:0;
}

ul li {
	text-indent:-3px;
}

ul li li{
	list-style-type: none;
}

img { width:100%; }

.center { text-align:center;
margin-left:auto;
margin-right:auto;}
.right { text-align: right;}

.dotum { font-family: 'kopub dotum', 'kopub dotum w', 'kopub dotum t', sans-serif;}
.underline {
	text-decoration:underline;
}