body { margin:0; padding:0;}

/* Background */
.page {width:768px; height:1024px;}
.huddlebooks {
	background:url("../Images/intro/intro_huddlebooks.png") no-repeat;
	background-size:contain;
	margin-left:22px;
}
.codershigh {
	background:url("../Images/intro/intro_codershigh.jpg") no-repeat;
	background-size:contain;
}
.lingostar {
	background:url("../Images/intro/intro_lingostar.jpg") no-repeat;
	background-size:contain;
}


a {
 text-decoration: none;
 color:inherit;
}


/* Lingostar */

.lecture-title {
	position:absolute;
	width:337px;
	height:282px;
	left:27px;
	top:18px;
	padding:191px 0 0 0;
}

.lecture-title p {	
	text-align:center;
	font-family:'kopub dotum', sans-serif;
	line-height:1.3em;
}
.lecture-title .title {
	font-size:21px;	
	margin-top:5px;
}

.lecture-title .subtitle {
	font-size:19px;
}


.lecture-year {
	position:absolute;
	width:337px;
	height:30px;
	left:27px;
	top:491px;
	padding:0;
	margin:0;
}

.lecture-year p{
	text-align:right;
	font-family:'kopub dotum', sans-serif;
	font-size:30px;
	margin-top:10px;
}

.lecture-table {
	position:absolute;
	width:365px;
	height:180px;
	left:364px;
	top:521px;
	font-family:'kopub dotum', sans-serif;
	font-size:13px;
}

.lecture-table table {
	width:100%;
	height:100%;
	text-align:center;
	border-collapse: collapse;
	border: 2px solid black;
}

table tr td {
	border:1px solid #aaa;
}

.title-row { 
	border-bottom: 2px solid #222;
	font-weight:bold;
}

.lecture-link {
	position:absolute;
	width:220px;
	height:45px;
	left:63px;
	top:850px;	
	margin:0;
	padding:0;
}

.lecture-link p {
	font-family:'kopub dotum', sans-serif;
	color:white;
	font-size:19px;
	margin:0 0 5px 0;
	letter-spacing:-1px;
}


