

.text , .image { border:0;}


/* topic1 */

.topic1 {
	position:absolute;
	left:0; top:0;
	width:333px;
	height:416px;
	padding:7px 7px 17px 7px;
}

.topic1 >.text {
	width:333px;
	height:416px;	
}

.topic1 >.image {
	position:absolute;
	left:0px;
	top:0px;
	width:347px;
	height:430px;
}


/* topic2 */

.topic2 {
	position:absolute;
	left:367px; top:0;
	width:333px;
	height:416px;
	padding: 7px 7px 17px 7px;
}
.topic2 >.text {
	width:333px;
	height:416px;
}

.topic2 >.image {
	position:absolute;
	left:0px;
	top:0px;
	width:347px;
	height:430px;
}

/* topic3 */
.topic3 {
	position:absolute;
	top:448px;
	width:212px;
	height:325px;
	padding: 7px 7px 0 7px;
}
.topic3 >.text {
	width:212px;
	height:325px;
}
.topic3 >.image {
	position:absolute;
	left:0px;
	top:0px;
	width:226px;
	height:332px;
}


/* topic4 */

.topic4 {
	position:absolute;
	top:448px;
	left:246px;
	width:453px;
	height:325px;
	padding: 7px 7px 0 7px;
}

.topic4 >.text {
	width:212px;
	height:325px;
}

.topic4 >.image {
	position:absolute;
	left:0;
	top:0;
	width:467px;
	height:332px;
}
