

.text , .image { border:0;}


/* topic1 */

.topic1 {
	position:absolute;
	left:0; top:0;
	width:700px;
	height:230px;
	padding:7px 7px 17px 7px;
}

.topic1 >.text {
	width:700px;
	height:230px;	
}

.topic1 >.image {
	position:absolute;
	left:0px;
	top:0px;
	width:714px;
	height:244px;
}


/* topic2 */

.topic2 {
	position:absolute;
	left:0px; top:264px;
	width:700px;
	height:508px;
	padding: 7px 7px 0 7px;
}
.topic2 >.text {
	width:700px;
	height:508px;
}

.topic2 >.image {
	position:absolute;
	left:0px;
	top:0px;
	width:714px;
	height:515px;
}

