

.text , .image { border:0;}


/* topic1 */

.topic1 {
	position:absolute;
	left:0; top:0;
	width:700px;
	height:344px;
	padding: 7px 7px 17px 7px;
}

.topic1 >.text {
	width:700px;
	height:344px;
}

.topic1 >.image {
	position:absolute;
	left:0;	top:0;
	width:714px;
	height:358px;
}


/* topic2 */

.topic2 {
	position:absolute;
	left:0; top:378px;
	width:700px;
	height:107px;
	padding: 7px 7px 17px 7px;
}
.topic2 >.text {
	width:700px;
	height:107px;
}

.topic2 >.image {
	position:absolute;
	left:0; top:0;
	width:714px;
	height:121px;
}


/* topic3 */
.topic3 {
	position:absolute;
	left:0; top:519px;
	width:204px;
	height:255px;
	padding:7px 7px 0px 7px;
}

.topic3 >.text {
	width:204px;
	height:255px;
}

.topic3 > .image {
	position:absolute;
	top:0; left:0;
	width:218px;
	height:262px;
}


/* topic4 */
.topic4 {
	position:absolute;
	left:244px; top:519px;
	width: 455px;
	height: 255px;
	padding:7px 7px 0px 7px;
}

.topic4 >.text {
	width:455px;
	height:255px;
}

.topic3 >.image {
	position:absolute;
	left:0;	top:0;
	width:469px;
	height:262px;
}


