.topic1 {
	position:absolute;
	width:700px;
	height:266px;
	left:0px;
	top:0px;	
	padding:7px 7px 17px 7px;
	
}

.topic1 >.text {
	width:700px;
	height:266px;
}

.topic1 >.image {
	position: absolute;
	left:0; top:0;
	width:700px;
	height:280px;
}