

.text , .image { border:0;}


/* topic1 */

.topic1 {
	position:absolute;
	left:0; top:0;
	width:700px;
	height:191px;
	padding:7px 7px 17px 7px;
}

.topic1 >.text {
	width:700px;
	height:191px;	
}

.topic1 >.image {
	position:absolute;
	left:0px;
	top:0px;
	width:714px;
	height:205px;
}


/* topic2 */

.topic2 {
	position:absolute;
	left:0px; top:225px;
	width:353px;
	height:231px;
	padding: 7px 7px 17px 7px;
}
.topic2 >.text {
	width:353px;
	height:231px;
}

.topic2 >.image {
	position:absolute;
	left:0px;
	top:0px;
	width:367px;
	height:245px;
}






/* topic3 */

.topic3 {
	position:absolute;
	left:387px; top:225px;
	width:313px;
	height:231px;
	padding: 7px 7px 17px 7px;
}
.topic3 >.text {
	width:313px;
	height:231px;
}

.topic3 >.image {
	position:absolute;
	left:0px;
	top:0px;
	width:327px;
	height:245px;
}



/* topic4 */

.topic4 {
	position:absolute;
	left:0px; top:490px;
	width:353px;
	height:283px;
	padding: 7px 7px 0 7px;
}
.topic4 >.text {
	width:353px;
	height:283px;
}

.topic4 >.image {
	position:absolute;
	left:0px;
	top:0px;
	width:367px;
	height:290px;
}







/* topic4 */

.topic5 {
	position:absolute;
	left:387px; top:490px;
	width:313px;
	height:283px;
	padding: 7px 7px 0 7px;
}
.topic5 >.text {
	width:313px;
	height:283px;
}

.topic5 >.image {
	position:absolute;
	left:0px;
	top:0px;
	width:327px;
	height:290px;
}