

.text , .image { border:0;}


/* topic1 */

.topic1 {
	position:absolute;
	left:0; top:0;
	width:163px;
	height:259px;
	padding: 7px 7px 17px 7px;
}

.topic1 >.text {
	width:163px;
	height:259px;
}

.topic1 >.image {
	position:absolute;
	left:0px;
	top:0px;
	width:177px;
	height:273px;
}


/* topic2 */

.topic2 {
	position:absolute;
	left:197px;
	width:503px;
	height:259px;
	padding: 7px 7px 17px 7px;
}
.topic2 >.text {
	width:503px;
	height:259px;
}

.topic2 >.image {
	position:absolute;
	left:0; top:0;
	height:273px;
	width:517px;
}

/* topic3 */

.topic3 {
	position:absolute;
	top:293px;
	left:0;
	width:502px;
	height:142px;
	padding: 7px 7px 17px 7px;
}

.topic3 >.text {
	width:502px;
	height:142px;
}

.topic3 >.image {
	position:absolute;
	left:0;
	top:0;
	width:516px;
	height:156px;
}



/* topic4 */
.topic4 {
	position: absolute;
	top:293px;
	left:536px;
	width:163px;
	height:237px;
	padding:7px 7px 17px 7px;
}

.topic4 >.text {
	width:163px;
	height:237px;
}

.topic4 >.image {
	position:absolute;
	left:0; top:0;
	width:177px;
	height:251px;
}

/* topic5 */
.topic5 {
	position:absolute;
	top: 469px;
	left:0;
	width:502px;
	height:304px;
	padding:7px 7px 0 7px;
}

.topic5 >.text {
	width:502px;
	height:304px;
}

.topic5 >.image {
	position:absolute;
	top:0; left:0;
	height:311px;
	width:516px;
}

/* topic6 */
.topic6 {
	position:absolute;
	top:564px;
	left:536px;
	width:163px;
	height:209px;
	padding: 7px 7px 0 7px;
}

.topic6 >.text {
	width:163px;
	height:209px;
}

.topic6 >.image {
	position:absolute;
	left:0; top:0;
	width:178px;
	height:216px;
}