

.text , .image { border:0;}


/* topic1 */

.topic1 {
	position:absolute;
	left:0; top:0;
	width:213px;
	height:230px;
	padding: 7px 7px 17px 7px;
	float:left;
}

.topic1 >.text {
	position:absolute;
	width:213px;
	height:230px;
}

.topic1 >.image {
	position:absolute;
	left:0px;
	top:0px;
	width:227px;
	height:244px;
}


/* topic2 */

.topic2 {
	position:absolute;
	left:247px;
	width:453px;
	height:230px;
	padding: 7px 7px 17px 7px;
}
.topic2 >.text {
	position:absolute;
	left:7px;
	top:7px;
	width:453px;
	height:230px;
}

.topic2 >.image {
	position:absolute;
	left:0;
	top:0;
	height:244px;
	width:467px;
	
}



/* topic3 */
.topic3 {
	position:absolute;
	left:0px; top:264px;
	width:700px;
	height:154px;
	padding:7px 7px 17px 7px;
}

.topic3 >.text {
	width:700px;
	height:154px;
}

.topic3 >.imate {
	position:absolute;
	left:0px;
	top:0px;
	height:168px;
	width:168px;
}