

.text , .image { border:0;}


/* topic1 */

.topic1 {
	position:absolute;
	left:0; top:0;
	width:700px;
	height:115px;
	padding: 7px 7px 17px 7px;
}

.topic1 >.text {
	width:700px;
	height:115px;
	float:left;
}

.topic1 >.image {
	position:absolute;
	top:0; left:0;
	width:252px;
	height:122px;
	float:left;
}


/* topic2 */

.topic2 {
	position:absolute;
	left:0; top:149px;
	width:436px;
	height:439px;
	padding: 7px 7px 17px 7px;
}

.topic2 >.text {
	width:436px;
	height:439px;		
}

.topic2 >.image {
	position:absolute;
	left:0; top:0;
	width:450px;
	height:453px;
}



/* topic3 */
.topic3 {
	position:absolute;
	left:475px; top:149px;
	width:225px;
	height:342px;
	padding: 7px 7px 17px 7px;
}

.topic3 >.image {
	position:absolute;
	left:0; top:0;
	width:239px;
	height:356px;
}

.topic3 >.text {
	width:225px;
	height:342px;	
}



/* topic4 */
.topic4 {
	position:absolute;
	left:0; top:622px;
	width:438px;
	height:151px;
	padding:7px 7px 0 7px;
}

.topic4 > .text {
	width:438px;
	height:151px;	
}


/* topic5 */
.topic5 {
	position:absolute;
	left:475px; top:525px;
	width: 225px;
	height: 248px;
	padding: 7px 7px 0 7px;
}

.topic5 >.image {
	position:absolute;
	left:0; top:0;
	width:239px;
	height:255px;
}
