

.text , .image { border:0;}


/* topic1 */

.topic1 {
	position:absolute;
	left:0; top:0;
	width:456px;
	height:230px;
	padding:7px 7px 17px 7px;
}

.topic1 >.text {
	width:456px;
	height:230px;	
}

.topic1 >.image {
	position:absolute;
	left:0px;
	top:0px;
	width:470px;
	height:244px;
}


/* topic2 */

.topic2 {
	position:absolute;
	left:0; top:264px;
	width:456px;
	height:220px;
	padding: 7px 7px 17px 7px;
}
.topic2 >.text {
	width:456px;
	height:220px;
}

.topic2 >.image {
	position:absolute;
	left:0px;
	top:0px;
	width:456px;
	height:220px;
}

/* topic3 */
.topic3 {
	position:absolute;
	top:518px; left:0;
	width:456px;
	height:255px;
	padding: 7px 7px 0 7px;
}
.topic3 >.text {
	width:456px;
	height:255px;
}
.topic3 >.image {
	position:absolute;
	left:0px;
	top:0px;
	width:470px;
	height:262px;
}


/* topic4 */

.topic4 {
	position:absolute;
	top:0px; left:490px;
	width:210px;
	height:414px;
	padding: 7px 7px 17px 7px;
}

.topic4 >.text {
	width:210px;
	height:414px;
}

.topic4 >.image {
	position:absolute;
	left:0;
	top:0;
	width:224px;
	height:428px;
}


/* topic5 */

.topic5 {
	position:absolute;
	top:448px; left:490px;
	width:210px;
	height:324px;
	padding: 7px 7px 0 7px;
}

.topic5 >.text {
	width:210px;
	height:324px;
}

.topic5 >.image {
	position:absolute;
	left:0; top:0;
	width:224px;
	height:331px;
}