/* recruiting */

.recruiting {
	position: absolute;
	-webkit-border-radius:18px;
	background-color: #eee;
	
}
 


/* half */


/* wide */

.wide {
	margin-top:10px;
	left:7px;
	width:700px;
	padding-bottom:14px;
}

.recruiting > .text {
	margin: 14px 17px 14px 17px;
}

.recruiting > .text p {
	margin-top: 14px;
}

/* table */

table.recruiting {
width:auto;
height:auto;
margin:0 17px 0 17px;}
table.recruiting {
	border: 1px solid #ccc;
	border-collapse:collapse;

	font-size:10px;
	letter-spacing:-0.05em;
	line-height:1.5em;
	font-family: 'kopub dotum', 'kopub dotum w', 'kopub dotum t' sans-serif;
}

table.recruiting tr, table.recruiting td {
	border: 1px solid #333;
	padding:3px;
}

table.recruiting tr.title {
	text-align:center;
	background-color:#ddd;
	font-weight:bold;}