body { margin:0;}

.ref-top {
	width:100%;
	height:120px;
}

.ref-mark  {
	margin-left:20px;
	margin-top:-10px;
	padding-top:40px;
	width:90px;
	height:45px;
	-webkit-border-bottom-left-radius:25px;
	-webkit-border-bottom-right-radius:25px;
	-webkit-box-shadow: 3px 3px 0px #ccc;
	float:left;
	
	text-align:center;
	font-size:30px;
	font-family:'kopub dotum';
}

.ref-top > .skyblue {
	background-color: #c81010;
	border: 2px solid transparent;
	color:white;
}

.ref-company-logo {
	float:left;
	width:100px;
	margin:40px 20px 0 20px;
}

.ref-icon {
	float:left;
	width:60px;
	margin:25px 20px 0 50px;
}


.ref-title {
	padding:40px;
	font-size:40px;
	font-family:'kopub dotum';
	font-weight:bold;
}

/* common style class override */
.top-line { margin-top:-20px; margin-left: 27px; }
.bottom-section { margin-left: 27px;}
.path { margin-top:-20px; width:100%; }
.path > .path-home {margin-left:480px;}



/* guide */


.guide-box {
	width:660px;
	margin: 30px auto 30px auto;
	background-color:#f6f1d5;
	padding:20px;
	-webkit-border-radius:30px;
}

.guide-box img {
	position:relative;
	width:400px;
	left:35px;
	margin-top:-30px;
	margin-bottom:10px;

	-webkit-box-shadow: 2px 2px 8px #666;
	border: 2px solid #222;
}

.guide-box > .guide-order-box {
	position:relative;
	left:0;
	top:0;
	width:30px;
	height:28px;
	padding: 15px 2px 0 16px;
	-webkit-border-bottom-right-radius:15px;
	-webkit-border-top-left-radius:12px;
	
	background-color:#f89633;
	color:white;
	
	font-size:20px;
	font-weight:300;
	text-align:left;
	font-family:'kopub dotum';
}



.guide-box p {
	width:200px;
	margin: 40px 0px 20px 5px;
	float:left;
	
	text-align:justify;
	-webkit-hyphens: auto;
	font-family:'kopub batang';
	font-size:15px;
	line-height:1.7em;
	
	clear:both;
}

p .point {
	color: #f04c00;
}

p > .icon {
	left:0;
	top:0;
	width: 40px;
	margin-top:0px;
	margin-left:0px;
	border:0;
	vertical-align:middle;
	-webkit-box-shadow:none;
}
