.preview-table {
/*width:1400px; height:870px;*/
	width:714px; height:1024px;
}

.preview-tr {
width:100%;
}

.preview-td {
border:1px solid #aaa; padding:60px;
}

object {
/*	width:700px; height:870px; */
	width:768px; height:1024px;
}

h1 {
	font-family: 'kopub dotum', 'kopub dotum w', 'kopub dotum t', sans-serif;
}
