@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,400,700);

@media print, screen and (min-width: 843px) {
	.menu_tab{
		background: #ccc9aa;
		-moz-border-radius-topright: 10px;
		-webkit-border-top-right-radius: 10px;
		-moz-border-radius-topleft: 10px;
		-webkit-border-top-left-radius: 10px;
	}

	.tab{
		background: #ccc9aa;
		-moz-border-radius-topright: 10px;
		-webkit-border-top-right-radius: 10px;
		-moz-border-radius-topleft: 10px;
		-webkit-border-top-left-radius: 10px;
	}

	.tab:hover{
		font-weight: bolder;
		background: #eeeac6;
		-moz-border-radius-topright: 10px;
		-webkit-border-top-right-radius: 10px;
		-moz-border-radius-topleft: 10px;
		-webkit-border-top-left-radius: 10px;
	}

	.selected{
		font-weight: bolder;
		background: #eeeac6;
		-moz-border-radius-topright: 10px;
		-webkit-border-top-right-radius: 10px;
		-moz-border-radius-topleft: 10px;
		-webkit-border-top-left-radius: 10px;
	}

	.contents_site{
		background: #eeeac6;
	}
}