@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,400,700);

/* Custom Style */

.github-link {
	width: 250px;
	height: 30px;
	text-align: center;
	display: inline-block;
	margin: 10px;
	padding-top:5px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.112, #f34e64), color-stop(0.862, #cb2036)) #f34e64;
	-webkit-box-shadow: 0 2px 6px #a0a0a0;
	border-top: 3px solid #fa8595;
	border-bottom: 2px solid #a1061a;
	text-shadow: 0 0 4px #af0014;
}

.detail-git {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#5ab8fe), to(#017bcf));
	text-shadow: 0 0 4px #065086;
	border-top: 3px solid #82cafe;
	border-bottom: 2px solid #003d68;
}

.view {
	color: white;
	font-size: 16px;
	font-weight: 600;
}


.description {
	margin: 10px;
	font-size: 13px;
	text-align: justify;
}

.tutorial-list {
	width: 95%;
	padding: 10px;
	background-color: #eeeac6;
}


.book-cover-img {
	width: 250px;
	border: 1px solid #b3b3b3;
	box-shadow: 0 0 10px #bdbaa6;
	opacity: 1;
}

.btn-frame {
	width: 45%;
	margin: auto 10px 2% 0;
	float: left;
	vertical-align: middle;
	background-color:white;
	box-shadow: 3px 3px 1px #cfccbd;
	border: 2px solid #cead82;
	-webkit-border-radius: 15px;
}
.video-frame{
	width:80px;
	height:80px;
	vertical-align:middle;
}

.book-frame {
	width: 45%;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f3bb00), to(#f39300));
	border: 1px #50b9cc;
	box-shadow: 3px 3px 1px #cfccbd;
	-webkit-border-radius: 10px;
	float: left;
	margin: auto 10px 2% 0;
}

.app-div {
	width: 75%;
	padding: 20px;
	margin: 15px auto;
	border: 1px dotted #b9b6a9;
	background-color:#f9f6e5;
}

.app-title {
	font-size:12px;
	font-weight:bold;
	color:#444;
	margin: 15px auto 3px auto;
}

.btn-icon {
	height:30px;
	width:auto;
	vertical-align: middle;
	margin:5px 10px 5px 5%;
}

.btn-text {
	font-size: 16px;
	color:white;
	text-shadow: 0 0 4px #c76f12;
}

.sub-link {
	font-size:12px;
	color: #dd4e12;
	font-weight: 900;
}

.download-bedge {
	margin: auto;
	vertical-align: middle;

}

.icon-video {
	width: 50px;
	height:auto;
	margin:0;
	vertical-align: middle;
}

.icon-slide {
	width:18px;
	height:auto;
	margin:0 10px 0 10px;
	vertical-align: middle;
}


.lecture {
	width:40%;
	padding-left:10px;
	font-size:12px;
}

.right {
	text-align:right;
}
/* table */

/* original */


body {
  padding:50px;
  font: 300 14px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#777;
  background-color: #f6f3e0;
}

h1, h2, h3, h4, h5, h6 {
  color:#222;
  margin: 0 0 10px 0;
}

p, ul, ol, table, pre, dl {
  margin:0px;
}

h1, h2, h3 {
  line-height:1.1;
}

h1 {
  font-size:30px;
}

h2 {
  color:#393939;
}

h3, h4, h5, h6 {
  color:#494949;
}

.dimmed { 
	opacity:0.4;
}


a {
  text-decoration:none;
  color: #e1434b;
}


a small {
  font-size: 11px;
  color: #eb278e;
  margin-top:-0.6em;
  display:block;
}

.wrapper {
  width:860px;
  margin:0 auto;
}

blockquote {
  border-left:1px solid #e5e5e5;
  margin:0;
  padding:0 0 0 20px;
  font-style:italic;
}

code, pre {
  font-family:Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal;
  color:#333;
  font-size:12px;
}

pre {
  padding:8px 15px;
  background: #f8f8f8;  
  border-radius:5px;
  border:1px solid #e5e5e5;
  overflow-x: auto;
}

table {
  width:100%;
  border-collapse:collapse;
}

th, td {
  text-align:left;
  padding:5px 5px;
  border-bottom:1px solid #e5e5e5;
  font-size: 11px;
}

dt {
  color:#444;
  font-weight:700;
}

th {
  color:#444;
}

img {
  max-width:100%;
}

header {
  float:left;
  position:fixed;  
  text-align: center;
}

header ul {
  list-style:none;
  height:40px;
  
  padding:0;
  
  background: #eee;
  background: -moz-linear-gradient(top, #f8f8f8 0%, #dddddd 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(100%,#dddddd));
  background: -webkit-linear-gradient(top, #f8f8f8 0%,#dddddd 100%);
  background: -o-linear-gradient(top, #f8f8f8 0%,#dddddd 100%);
  background: -ms-linear-gradient(top, #f8f8f8 0%,#dddddd 100%);
  background: linear-gradient(top, #f8f8f8 0%,#dddddd 100%);
  
  border-radius:5px;
  border:1px solid #d2d2d2;
  box-shadow:inset #fff 0 1px 0, inset rgba(0,0,0,0.03) 0 -1px 0;
  width:270px;
}

header li {
  width:89px;
  float:left;
  border-right:1px solid #d2d2d2;
  height:40px;
}

header ul a {
  line-height:1;
  font-size:11px;
  color:#999;
  display:block;
  text-align:center;
  padding-top:6px;
  height:40px;
}

strong {
  color:#222;
  font-weight:700;
}

header ul li + li {
  width:88px;
  border-left:1px solid #fff;
}

header ul li + li + li {
  border-right:none;
  width:89px;
}

header ul a strong {
  font-size:14px;
  display:block;
  color:#222;
}

section {
  width:500px;
  float:right;
  padding-bottom:50px;
}

small {
  font-size:11px;
}

hr {
  border:0;
  background:#e5e5e5;
  height:1px;
  margin:0 0 20px;
}

footer {
  width:270px;
  float:left;
  position:fixed;
  bottom:50px;
  text-align: center;
}

.center {
	text-align:center;
}
@media print, screen and (max-width: 960px) {
  
  div.wrapper {
    width:auto;
    margin:0;
  }
  
  header, section, footer {
    float:none;
    position:static;
    width:auto;
  }
  
  header {
  }
  
  section {
    border:1px solid #e5e5e5;
    border-width:1px 0;
    padding:20px 0;
    margin:0 0 20px;
  }
  
  header a small {
    display:inline;
  }
  
  header ul {
    position:absolute;
    right:50px;
    top:52px;
  }
  .app-div {
	width: 30%;
	}
}

@media print, screen and (max-width: 720px) {
  body {
    word-wrap:break-word;
    padding:5%;
    margin:0;
  }
  
  header {
    padding:0;
  }

  header ul, header p.view {
    position:static;
  }
  
  pre, code {
    word-wrap:normal;
  }
  .app-div {
	width: 55%;
  .book-frame {
	width: 100%;}
}

@media print, screen and (max-width: 480px) {
  body {
    padding:5px;
  }
  
  header ul {
    display:none;
  }

}

@media print {
  body {
    padding:0.4in;
    font-size:12pt;
    color:#444;
  }
}
