@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,400,700);
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumbrushscript.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothiccoding.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanummyeongjo.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumpenscript.css);

body {
  font-family: "Nanum Gothic","Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#777;
  background-color: #f6f3e0;
  padding:1em;
  max-width:880px;
  margin-left:auto;
  margin-right:auto;
}

@media print, screen and(max-width: 480px) {
	body {
  	padding: none;
	}

  .text {
    padding: 5px;
    line-height:1.5em;
  }
  .flow_num {
    float: left;
    width: 50px;
  }
  .flow_name {
    float: left;
    width: 150px;
  }
  .flow_text {
    float: left;
    width: 90%;
    padding-left: 10px;
  }
}
@media print, screen and(min-width: 480px) {
	


  .lingo_path {
    padding-bottom: 10px;
  }
  .text {
    padding: 20px;
  }
  .flow_num {
    float: left;
    width:50px;
  }
  .flow_name {
    float: left;
    width: 150px;
  }
  .flow_text {
    float: left;
    width: 90%;
    padding-left: 10px;
  }
}

@media print, screen and(min-width: 1100px) {
  body {
    margin: 0 auto;
    width: 950px;
    padding: 0 8% 8% 8%;
  }
  .lingo_path {
    padding-top: 10px;
    padding-bottom: 60px;
    vertical-align: middle;
  }

  .flow_num {
    float: left;
    width:50px;
  }
  .flow_name {
    float: left;
    width: 150px;
  }
  .flow_text {
    float: left;
    width: 500px;
  }
}

.lingo_path {
  float: left;
  width: 100%;
  margin-bottom:2em;
}

.lingo_path > div {
  float:left;
  height:30px;
}

.lingo_path > .dimmed {
  color:#959376;
  font-size:20px;
  font-family:"Nanum Gothic";
  margin:10px;
}
.lingo_path > div > h2 {
  margin:10px 0;
  font-family:"Nanum Gothic";

}
.path_icon {
  height:50px;
  vertical-align: middle;
}

.flow {
  float: left;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.flow_num {
  float:left;
  background-color:#8fb1cc;
  -webkit-border-radius:2em;
  padding:3px 5px;
  margin-right:0.5em;
  margin-bottom:0.5em;
  font-size:1em;
  color:white;
}

.flow_name {
  font-size:1.1em;
  color:#555;
}

.flow_text {
  margin:0;
  margin-bottom:0.5em;
  margin-left:0.5em;
}

.flow > ul > li {
  margin-bottom:0.8em;
}
.menu_tab{
    float: left;
		width: 100%;
}

.menu_tab > div > .menu_title {
  font-family: "Nanum Gothic", sans-serif;
  font-size:1em;
}

	.tab{
    position:relative;
    float: left;
    width: 20%;
    max-width:180px;
    height: 45px;
    bottom: -10px;
    background: #6d84c4;
    padding: 10px 5px 5px 5px;
    -moz-border-radius: 20px 20px 0 0;
    -webkit-border-radius: 20px 20px 0 0;
    text-align:center;
    border-right:1px solid #586db4;
    box-shadow:2px -2px 3px rgba(0, 0, 0, 0.2000);
	}

  .tab > p {
    color:#bad0e8;
    text-shadow: 0px 0px 5px #5477c1;
    font-weight:normal;
    margin:0;
  }

	.tab:hover{
		font-weight: bolder;
		background: #84a2df;
	}
  .tab:hover > .menu_title {
    color:#333;
    text-shadow:none;
    font-weight:bold;
  }

	.selected{
    position:relative;
    float: left;
    width:23%;
    height: 40px;
    font-weight: bolder;
    background: #fffcf5;
    padding: 10px 5px 5px 5px;
    -moz-border-radius: 20px 20px 0 0;
    -webkit-border-radius: 20px 20px 0 0;
    text-align:center;
    border-left:1px solid #c1d4e2;
    border-top:10px solid #5377c1;
    box-shadow:2px -2px 3px rgba(0, 0, 0, 0.2000);
    z-index: 2;
	}
  .selected > p {
    color:#2f446e;
    margin:0;
  }

	.contents_site{
    position:relative;
    float: left;
    width: 100%;
    max-width:860px;
		background: #fffcf5;
    padding:1.5em 0 2em 0;
    -moz-border-radius: 0 0 10px 10px;
    -webkit-border-radius: 0 0 10px 10px;
    box-shadow:3px -0px 10px rgba(0, 0, 0, 0.2000);
    border:1px solid #c1d4e2;
    border-bottom:20px solid #789bcd;
    margin-top:-2px;
    z-index:1;
	}

  .text > p {
    text-align:justify;

  }

.text_box {
  border: dotted 1px #789bcd;
  background-color: #cfe0ec;
  -webkit-border-radius:0.5em;
  padding:0.5em;
  margin-bottom:2em;
}

.text_box > ul {
  list-style-type:square;
  text-indent: -0.2em;
  margin:0;
  padding-left:1.5em;
  color:#555;
  font-size:0.9em;

}
.text {
    padding:0 1.2em 0 1.2em;
    line-height:1.5em;
}

.text > ul {
  padding-left:1.5em;
  text-align:justify;
}

.summary_name {
	float: left;
	width: 80px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.summary_des {
	float: left;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 50px;
}


h1, h2, h3, h4, h5, h6 {
  color:#222;
  margin: 0.5em 0 0 0;
}

ol, table, pre, dl {
  margin:0px;
}

p, ul {
  margin-bottom:1.5em;
}

ul {
  padding-left:1.5em;
}

h1, h2, h3 {
  line-height:1.1;
}

h1 {
  font-size:2em;
  font-family: "Nanum Myeongjo", "Helvetica", sans-serif;
  margin-bottom:0.5em;
}

h2 {
  color:#393939;
  font-size:1.5em;
}

h3 {
  font-size:1.4em;
}

h4 {
  font-size:1.2em;
}

h3, h4, h5, h6 {
  color:#494949;
  font-family: "Nanum Myeongjo", sans-serif;
}

a {
  text-decoration:none;
  color: #364ebf;
  font-family: "Nanum Gothic", sans-serif;
  border-bottom:1px dotted #364ebf;
  padding-bottom:2px;
  font-weight:bold;
}

a small {
  
  color: #eb278e;
  margin-top:-0.6em;
  display:block;
}

blockquote {
  border-left:1px solid #e5e5e5;
  margin:0;
  padding:0 0 0 20px;
  font-style:italic;
}

code, pre {
  font-family:Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal;
  color:#333;
  font-size:12px;
}

pre {
  padding:8px 15px;
  background: #f8f8f8;  
  border-radius:5px;
  border:1px solid #e5e5e5;
  overflow-x: auto;
}

table {
  width:100%;
  border-collapse:collapse;
}

th, td {
  text-align:left;
  padding:5px 5px;
  border-bottom:1px solid #e5e5e5;
  font-size: 11px;
}

dt {
  color:#444;
  font-weight:700;
}

th {
  color:#444;
}

img {
  max-width:100%;
}



header ul {
  list-style:none;
  height:40px;
  
  padding:0;
  
  background: #eee;
  background: -moz-linear-gradient(top, #f8f8f8 0%, #dddddd 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(100%,#dddddd));
  background: -webkit-linear-gradient(top, #f8f8f8 0%,#dddddd 100%);
  background: -o-linear-gradient(top, #f8f8f8 0%,#dddddd 100%);
  background: -ms-linear-gradient(top, #f8f8f8 0%,#dddddd 100%);
  background: linear-gradient(top, #f8f8f8 0%,#dddddd 100%);
  
  border-radius:5px;
  border:1px solid #d2d2d2;
  box-shadow:inset #fff 0 1px 0, inset rgba(0,0,0,0.03) 0 -1px 0;
  width:270px;
}

header {
  height:80px;
}
header li {
  width:89px;
  float:left;
  border-right:1px solid #d2d2d2;
  height:40px;
}

header ul a {
  line-height:1;
  font-size:11px;
  color:#999;
  display:block;
  text-align:center;
  padding-top:6px;
  height:40px;
}

strong {
  color:#222;
  font-weight:700;
}

header ul li + li {
  width:88px;
  border-left:1px solid #fff;
}

header ul li + li + li {
  border-right:none;
  width:89px;
}

header ul a strong {
  font-size:14px;
  display:block;
  color:#222;
}

section {
  width:500px;
  float:right;
  padding-bottom:50px;
}

small {
  font-size:11px;
}

hr {
  border:0;
  background:#b6d5d8;
  height:2px;
  margin:0 0 20px;
}

footer {
  position: relative;
  bottom: 50px;
  clear: both;
}