#background {
	position:absolute;
	left:0; top:0;
	width:729px;
	height:1032px;
	background:url("../Images/bd12-4.png") no-repeat;
}

.topic1 {
	position:absolute;
	top:148px; left:40px;
	width:435px;
	height:420px;
	column-count:2;
	-moz-column-count:2; /* Firefox */
	-webkit-column-count:2; /* Safari and Chrome */
}


.topic2 {
	position:absolute;
	top:620px;
	left:40px;
	width:210px;	
}

.topic2 > p:nth-of-type(1) {
	position:absolute;
}
.topic2-2 {
	position:absolute;
	left:265px;	top:770px;
	width:430px; height:220px;
	column-count:2;
	-moz-column-count:2; /* Firefox */
	-webkit-column-count:2; /* Safari and Chrome */
}