/* ... Smartphones (portrait and landscape) ... */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
	body {
		padding: 2px;
		margin:0 auto 0 auto;
		border:0;
		width:100%;
		font-size:22px;
	}
	#title {
		position:relative;
		float:none;
		margin-left:auto;
		margin-right:auto;
		width:100%;
	}
	
	#top {
		height:auto;
	}
	#top_navi {
		position:relative;
		float:none;
		display:block;
		width:90%;
		margin: 0 auto 30px auto;
		border-radius : 20px;
		background-color:rgba(34, 185, 243, 0.13);
		padding:5px 10px 5px 10px;
	}
	#top_navi_list > li {
		font-size: 0.8em;
		line-height: 1.5em;
	}
	
	h1 {
 		font-size:1.1em;
	}

	h2 {
		font-size:1.6em;
	}

	h3 {
		font-size:1.5em;
	}

	.headline {
		font-size:1.8em;
	}
	.video {
		width:100%;
		height:220px;
		margin-top:20px;
	}
	.quote {
	padding-left:0.3em;
	padding-right:0.3em;
	color:#333;
	font-size:1.3em;
	font-family:nanumPen;
	text-indent:0;
	}	
	/* color */
	.lightpink {	background-color:#ffc9b1; 	}
	.lightblue {	background-color:#75c7f3; 	}
	.lightgreen {	background-color:#a5db66;	}
	.lightorange {	background-color:#f9ad2b;	}
	.border_lightpink {		border-color:#ffc9b1;	}
	.border_lightblue {		border-color:#75c7f3;	}
	.border_lightgreen {	border-color:#a5db66;	}
	.border_lightorange {	border-color:#f9ad2b;	}


	/* field */
	.field {
		width:90%;
		margin: 0px auto 10px auto;
		border-radius: 15px;
		padding: 0 10px 10px 10px;
	}
	
	.field_title {
		width:50%;
	}
	article > .title_img {
		max-width:90%;
		margin-left:auto;
		margin-right:auto;
	}
	
	/* layout */
	/* 	layout01 */
	
	.article_layout01 > .img > img {
		display: block;
		float: none;
		max-width: 100%;
		padding: 0;
	}
	
	.article_layout01 > .img {
		display:block;
		float:none;
		max-width:45%;
	}
	
	.article_layout01 > .text-right {
		text-align:left;
	}
	
	/* wide-image */
	.article_layout02 > .img, .article_layout03 > .img, .article_layout04 > .img, .article_layout06 > .img {
		width:100%;
		max-width:100%;
		float:none;
		margin:5px auto 5px auto;
		padding:0;
	}
	
	/* 	layout07 */
	.article_layout07 > div:nth-of-type(n) {
		float:none;
		width:100%;
		max-width:100%;
		margin:15px auto 5px auto;
		padding:0;
		border-right:0;	
	}

	
	/* latyout-half */
	.article_layout_half{
		width:100%;
		max-width:100%;
		float:none;
		margin:0;
	}

	.article_layout_half + .article_layout_half {
		border-top: 1px dotted #ccc;
		border-left:0;
		padding:0;
		margin:0;
		float:none;
	}


}

/* ... Smartphones (landscape) ... */
@media only screen
and (min-width : 321px)
and (max-width : 767px) {
	body {
		padding: 2px;
		margin:0 auto 0 auto;
		border:0;
		width:100%;
		font-size:22px;
	}
	#title {
		position:relative;
		float:none;
		margin-left:auto;
		margin-right:auto;
		width:100%;
	}
	
	#top {
		height:auto;
	}
	#top_navi {
		position:relative;
		float:none;
		display:block;
		width:90%;
		margin: 0 auto 30px auto;
		border-radius : 20px;
		background-color:rgba(34, 185, 243, 0.13);
		padding:5px 10px 5px 10px;
	}
	#top_navi_list > li {
		font-size: 0.8em;
		line-height: 1.5em;
	}
	
	h1 {
 		font-size:1.1em;
	}

	h2 {
		font-size:1.6em;
	}

	h3 {
		font-size:1.5em;
	}

	.headline {
		font-size:1.8em;
	}
	.video {
		width:100%;
		height:220px;
		margin-top:20px;
	}
	.quote {
		padding-left:0.3em;
		padding-right:0.3em;
		color:#333;
		font-size:1.3em;
		font-family:nanumPen;
		text-indent:0;
	}	
	/* color */
	.lightpink {	background-color:#ffc9b1; 	}
	.lightblue {	background-color:#75c7f3; 	}
	.lightgreen {	background-color:#a5db66;	}
	.lightorange {	background-color:#f9ad2b;	}
	.border_lightpink {		border-color:#ffc9b1;	}
	.border_lightblue {		border-color:#75c7f3;	}
	.border_lightgreen {	border-color:#a5db66;	}
	.border_lightorange {	border-color:#f9ad2b;	}


	/* field */
	.field {
		width:90%;
		margin: 0px auto 10px auto;
		border-radius: 15px;
		padding: 0 10px 10px 10px;
	}
	
	.field_title {
		width:50%;
	}
	article > .title_img {
		max-width:90%;
		margin-left:auto;
		margin-right:auto;
	}
	
	/* layout */
	/* 	layout01 */
	
	.article_layout01 > .img > img {
		display: block;
		float: none;
		max-width: 100%;
		padding: 0;
		margin-top:15px;
	}
	
	.article_layout01 > .img {
		display:block;
		float:none;
		max-width:45%;
	}
	
	.article_layout01 > .text-right {
		text-align:left;
	}
	
	/* wide-image */
	.article_layout02 > .img, .article_layout03 > .img, .article_layout04 > .img, .article_layout06 > .img {
		width:100%;
		max-width:100%;
		float:none;
		margin:5px auto 5px auto;
		padding:0;
	}
	
	/* 	layout07 */
	.article_layout07 > div:nth-of-type(n) {
		float:none;
		width:100%;
		max-width:100%;
		margin:15px auto 5px auto;
		padding:0;
		border-right:0;	
	}

	
	/* latyout-half */
	.article_layout_half{
		width:100%;
		max-width:100%;
		float:none;
		margin:0;
	}

	.article_layout_half + .article_layout_half {
		border-top: 1px dotted #ccc;
		border-left:0;
		padding:0;
		margin:0;
		float:none;
	}
}
 
/* ... Smartphones (portrait) ... */
@media only screen
and (max-width : 320px) {

}


/* ... iPads (portrait and landscape) ... */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
	 body {
	 	font-size:20px;
	 	-webkit-box-shadow: none;
	 	margin: 10px auto 20px auto;
	 	padding: 20px 30px 20px 30px;
	 }
}


/* ... iPads (landscape) ... */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
}
 
/* ... iPads (portrait) ... */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
}


/* ... Desktops and laptops ... */
@media only screen
and (min-width : 1224px) {
}


/* ... Large screens ... */
@media only screen
and (min-width : 1824px) {.
}
 
/* ... iPhone 4 ... */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
}
