	body {
		padding: 2px;
		margin:0 auto 0 auto;
		border:0;
		width:100%;
		max-width:100%;
		font-size:20px;
	}
	#title {
		position:relative;
		float:none;
		margin-left:auto;
		margin-right:auto;
		width:100%;
	}
	
	#top {
		height:auto;
	}
	#top_navi {
		position:relative;
		float:none;
		display:block;
		width:88%;
		max-width:88%;
		margin: 0 auto 30px auto;
		border-radius : 20px;
		background-color:rgba(34, 185, 243, 0.13);
		padding:5px 20px 5px 20px;
	}
	#top_navi_list > li {
		font-size: 1em;
		line-height: 1.7em;
	}
	
	h1 {
 		font-size:1.2em;
	}

	h2 {
		font-size:2.0em;
	}

	h3 {
		font-size:1.8em;
	}

	.headline {
		font-size:2.3em;
	}
	
	
	/* color */
	.lightpink {	background-color:#ffc9b1; 	}
	.lightblue {	background-color:#75c7f3; 	}
	.lightgreen {	background-color:#a5db66;	}
	.lightorange {	background-color:#f9ad2b;	}
	.border_lightpink {		border-color:#ffc9b1;	}
	.border_lightblue {		border-color:#75c7f3;	}
	.border_lightgreen {	border-color:#a5db66;	}
	.border_lightorange {	border-color:#f9ad2b;	}


	/* field */
	.field {
		margin: 0px auto 10px auto;
		border-radius: 15px;
	}
	
	.field_title {
		width:50%;
	}

	article > .title_img {
	max-width:90%;
	margin-left:auto;
	margin-right:auto;
	}
	
	/* layout */
	/* 	layout01 */
	
	.article_layout01 > .img > img {
		display: block;
		float: none;
		max-width: 100%;
		padding: 0;
		margin-top:15px;
	}
	
	.article_layout01 > .img {
		display:block;
		float:none;
		max-width:30%;
	}
	
	.article_layout01 > .text-right {
		text-align:left;
	}
	
	/* wide-image */
	.article_layout02 > .img, .article_layout03 > .img, .article_layout04 > .img, .article_layout06 > .img {
		width:100%;
		max-width:100%;
		float:none;
		margin:5px auto 5px auto;
		padding:0;
	}
	
	/* 	layout07 */
	.article_layout07 > div:nth-of-type(n) {
		float:none;
		width:100%;
		max-width:100%;
		margin:15px auto 5px auto;
		padding:0;
		border-right:0;	
	}

	
	/* latyout-half */
	.article_layout_half{
		width:100%;
		max-width:100%;
		float:none;
		margin:0;
	}

.article_layout_half + .article_layout_half {
	border-top: 1px dotted #ccc;
	border-left:0;
	padding:0;
	margin:0;
	float:none;
}


@media only screen and (min-device-width : 200px) and (max-device-width : 1280px) {
/* Styles */
	#title {
		max-width:90%;
	}
}

/* retina display */

@media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
body {
	font-size:20px;
	}
	#title {
		max-width:50%;
	}
}
	