
	#top{
		height:auto;
	}
	
	.field_title h1{
		font-size:1.5em;
		font-weight:100;
	}

	.field {
		width:95%;
		margin: 0px auto 10px auto;
		border-radius: 15px;
	}


@media only screen and (min-device-width : 320px) and (max-device-width : 1024px) {
/* Styles */
	body {
		-webkit-box-shadow:none;
		font-size:20px;
	}
}